<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h4>User Management</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Role</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.name }}</td>
              <td>{{ user.gender }}</td>
              <td>{{ user.role }}</td>
             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  